<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../fragmente/head.ejs") %>
    <title>Contact</title>
</head>
<body>
    <div id="container">
        <%- include("../fragmente/header.ejs") %>

        <h2>Contact</h2>

        <%- include("../fragmente/footer.ejs") %>
    </div>
</body>
</html>