<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../fragmente/head.ejs") %>
    <link rel="stylesheet" href="/Resources/Styles/error_page.css">
    <title>Error <%- error_type%></title>
</head>
<body>
    <div id="container">
        <%- include("../fragmente/header.ejs") %>
        <div class='error-message'>
            <% if (error_type == 403) { %> 
                <img class="error-image" src="/Resources/Images/403-image.png">
                <h2>This zone is gameboy free, please consider leaving.</h2>
            <% } else if (error_type == 404) {%> 
                <img class="error-image" src="/Resources/Images/404-image.png">
                <h2>Could not find any gameboys here. <br>Maybe you want to look on another shelf?</h2>
            <% } %> 
        </div>
        <%- include("../fragmente/footer.ejs") %>
    </div>
</body>
</html>