<footer>
    <a href="#top" id="link-top" title="Scroll to top">
        &#5123<div id="triunghi"></div>
    </a>
    
    <div class="icon-style">
        <i class="fas fa-envelope"></i>
        <i class="fas fa-phone-square-alt"></i>
        <i class="fas fa-map-marked-alt"></i>
        <i class="fas fa-heart"></i>
    </div>

    <div class="text-style">
        <address>
            <p><a href="mailto:retro_point@mail.com">retro_point@mail.com</a></p>
            <p><a href="tel:+40764019345">0764-019-345</a></p>
            <p>Strada Mihai Viteazul 13, Bucuresti, Romania</p>
        </address>

        <p><small>Retro Point SRL &copy; <time datetime="2021-10-04">2021</time></small></p>
    </div>
</footer>