<h2>Galerie</h2>
<div id=grid-galerie>
    <% for (let image of locals.images) {
        var data_curenta = new Date()
        if (data_curenta.getMinutes() >= (image.sfert_ora - 1) * 15 && data_curenta.getMinutes() < (image.sfert_ora) * 15) { %>
            <figure>
                <picture>
                    <source srcset="<%- image.mic %>" media="max-width:500px">
                    <img src="/<%- locals.cale_galerie + image.cale_imagine %>" alt="<%- image.descriere %>">
                </picture>
                <figcaption><%- image.titlu %></figcaption>
            </figure>
        <% } %>
    <% } %>
</div>