<header id="top">
    <h1>Retro Point</h1>
    <nav id="navigation">
        
        <input type="checkbox" id="activate-menu">
        <label for="activate-menu">
            <div class="hamburger">
                <i class="fas fa-bars"></i>
            </div>
        </label>

        <ul class="main-menu">
            <li>
                <div id="acasa">Acasa</div>
                <ul>
                    <li><a href="#despre">Despre</a></li>
                    <li><a href="#livrare_returnare">Livrare si Returnare</a></li>
                    <li><a href="inregistrare.html">Inregistrare</a></li>
                </ul>
            </li>

            <li>
                <div>Jocuri & Console</div>
                <ul>
                    <li>
                        <div>Jocuri</div>
                        <ul>
                            <li>
                                <div>Nintendo</div>
                                <ul>
                                    <li><a href="jocuri_nintendo64.html">Nintendo 64</a></li>
                                    <li><a href="jocuri_gameboy.html">Gameboy</a></li>
                                    <li><a href="jocuri_gamecube.html">Gamecube</a></li>
                                    <li><a href="jocuri_nintendods.html">Nintendo DS</a></li>
                                </ul>
                            </li>
                            <li>
                                <div>Sega</div>
                                <ul>
                                    <li><a href="jocuri_genesis.html">Genesis</a></li>
                                    <li><a href="jocuri_gamegear.html">Game gear</a></li>
                                    <li><a href="jocuri_segasaturn.html">Sega saturn</a></li>
                                    <li><a href="jocuri_dreamcast.html">Dreamcast</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <div>Console</div>
                        <ul>
                            <li>
                                <div>Nintendo</div>
                                <ul>
                                    <li><a href="console_nintendo64.html">Nintendo 64</a></li>
                                    <li><a href="console_gameboy.html">Gameboy</a></li>
                                    <li><a href="console_gamecube.html">Gamecube</a></li>
                                    <li><a href="console_nintendods.html">Nintendo DS</a></li>
                                </ul>
                            </li>
                            <li>
                                <div>Sega</div>
                                <ul>
                                    <li><a href="console_genesis.html">Genesis</a></li>
                                    <li><a href="console_gamegear.html">Game gear</a></li>
                                    <li><a href="console_segasaturn.html">Sega saturn</a></li>
                                    <li><a href="console_dreamcast.html">Dreamcast</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li><a href="accesorii_gaming.html">Accesorii gaming</a></li>
                </ul>
            </li>
            
            <li><a href="/contact">Contact</a></li>
            <li><a href="pagina_personala.html">Cont</a></li>
        </ul>
    </nav>
</header>