/* Page break pe static sau relative*/

#navigation, img, video, #link-top{
    display: none;
}

:any-link {
    text-decoration: none;
}

h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: underline;
    font-size: calc(var(--h1-font-size) * 2.5);
}

* {
    float: none; 
}

#top {
    align-items: center;
    justify-content: center;
    page-break-after: always;
}

footer {
    page-break-before: always;
}

.watermark {
    display: flex;
    text-align: center;
    justify-content: center;
    line-height: 1cm;
    position: fixed;
    bottom: 0;
    right: 0;
    user-select: none;
    width: 100px;
    height: 2cm;
    border: 3px double black;
    opacity: 0.65;
    z-index: 100;
}

#iframe-videos, #iframe-buttons, .iframe-list {
    display: none;
}

@page :left {
    margin-left: 2.5cm;
    margin-right: 0.5cm;
}
  
@page :right {
    margin-left: 0.5cm;
    margin-right: 2.5cm;
}