:root {
    --border-color: #4B6587;
    --text-color: #4B6587;
    --link-top-color: #4B6587;
    --link-top-bg-color: #F7F6F2;
}

footer {
    border-top: 1px solid var(--border-color);
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: justify;
    justify-content: center;
    padding-bottom: 0.1em;
    color: var(--text-color);
}

.text-style {
    display: flex;
    flex-direction: column;
}

.icon-style {
    display: flex;
    flex-direction: column;
}

.text-style p{
    padding-bottom: 0.2em;
}

.text-style > address a {
    text-decoration: none;
    color: var(--text-color);
}

.fas.fa-envelope, .fas.fa-phone-square-alt, .fas.fa-map-marked-alt{
    padding: 0 0.3em 0.2em 0;
}

.fas.fa-heart{
    color: #e61919;
}

#link-top {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 10px;
    right: 10px;
    height: 40px;
    width: 40px;
    border: 3px solid var(--link-top-color);
    border-radius: 30px;
    background-color: var(--link-top-bg-color);;
    text-decoration: none;
    color: var(--link-top-color);;
    font-size: 30px;
    font-weight: bold;
    box-shadow: 0 0 15px var(--link-top-color);;
    opacity: 50%;
    transition: ease-in opacity 175ms;
}

#link-top:hover {
    opacity: 1;
}