@media screen and (max-width: 515px){

    ul.main-menu{
        display: none;
    }

    .hamburger {
        display: block;
    }

    #container {
        display: block;
    }

    ul.main-menu{
        width: 100%;
    }

    ul.main-menu li{
        width: 100%;
    }

    ul.main-menu li a, ul.main-menu li div {
        width: 100%;
    }

    ul.main-menu>li li:hover>ul{
        left: 0;
        top: 0;
        transform-origin: top;
        animation: pulse 400ms forwards;
    }

    ul.main-menu~li li:hover>ul{
        left: 0;
        top: -2.5em;
        animation: pulse 400ms forwards;
    }

    #acasa p {
        display: none;
    }

    @keyframes pulse{
        from {
            transform: scale(0);
        }
        
        to {
            transform: scale(1);
        }
    }   
}