:root {
    --nav-text-color: #F7F6F2;
    --nav-alt-text-color: #4B6587;
    --nav-bg-color: #4B6587;
    --nav-alt-bg-color: #F7F6F2;
    --link-top-color: #4B6587;
    --link-top-bg-color: #F7F6F2;
    --h1-color: #3D526E;
    --h1-bg-color: #C8C6C6;
}

#container {
    display: grid;
    grid-template-areas: "gr-header gr-header gr-header gr-header"
                         "gr-despre gr-despre gr-despre gr-despre"
                         "gr-livrare-returnare  gr-orar gr-orar gr-lorem1"
                         "gr-lorem2 gr-lorem2 gr-lorem2 gr-lorem2"
                         "gr-lorem3 gr-lorem3 gr-lorem4 gr-lorem5"
                         "gr-footer gr-footer gr-footer gr-footer";
}

#despre {
    grid-area: gr-despre;
}

#livrare_returnare {
    grid-area: gr-livrare-returnare;
}

#lorem1 {
    grid-area: gr-lorem1;
}

#lorem2 {
    grid-area: gr-lorem2;
}

#lorem3 {
    grid-area: gr-lorem3;
}

#lorem4 {
    grid-area: gr-lorem4;
}

#lorem4 {
    grid-area: gr-lorem5;
}

#orar {
    grid-area: gr-orar;
}

header {
    grid-area: gr-header;
    height: fit-content;
    width: 100%;
}

footer {
    grid-area: gr-footer;
}

#container>*{
    border: 1px solid black;
}

#navigation {
    background-color: var(--nav-bg-color);
    position: fixed;
    height: 2.5em;
    width: 100%;
    top: 0;
    right: 0;
    text-align: left;
    display: flex;
}

#navigation ul, #navigation li, #navigation a, #navigation, #navigation div {
    padding: 0;
    margin: 0;
}

ul.main-menu li{
    box-sizing: border-box;
    text-align: center;
    width: 13em;
    height: 2.5em;
    list-style-type: none;
    float: left;
    background-color: var(--nav-bg-color);
    line-height: 2.2em;
}

ul.main-menu{
    float: right;
}

ul.main-menu ul {
    display: none;
}

ul.main-menu>li:hover>ul{
    display: flex;
    flex-direction: column;
    position: relative;
    animation: pulse 400ms;
}

ul.main-menu>li li:hover>ul{
    display: flex;
    flex-direction: column;
    position: relative;
    left: 100%;
    top: -100%;
    animation: pulse 400ms;
}

ul.main-menu li:hover>div, ul.main-menu li:hover>a{
    background-color: var(--nav-text-color);
    color: var(--nav-bg-color);
    animation: fade_in 400ms;
}

ul.main-menu li a, ul.main-menu li div {
    text-decoration: none;
    color: var(--nav-text-color);
    font-size: 1.3em;
    width: 12.5em;
    display: block;
    width: 10em;
    height: 100%;
}

@keyframes pulse{
    from {
        transform: scale(0);
    }
    
    to {
        transform: scale(1);
    }
}

@keyframes fade_in {
    from {
        background-color: var(--nav-bg-color);
        color: var(--nav-text-color);
    }
    
    to {
        background-color: var(--nav-alt-bg-color);
        color: var(--nav-alt-text-color);
    }
}

h1 {
    color: var(--h1-color);
    font-size: 60px;
    background-color: var(--h1-bg-color);
    width: max-content;
    padding: 30px;
    margin: 60px 0 25px 15px;
    border-radius: 45px 0 45px 0;
}

#link-top {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 10px;
    right: 10px;
    height: 40px;
    width: 40px;
    border: 3px solid var(--link-top-color);
    border-radius: 30px;
    background-color: var(--link-top-bg-color);;
    text-decoration: none;
    color: var(--link-top-color);;
    font-size: 30px;
    font-weight: bold;
    box-shadow: 0 0 15px var(--link-top-color);;
    opacity: 50%;
    transition: ease-in opacity 175ms;
}

#link-top:hover {
    opacity: 1;
}

@media screen and (max-width: 1000px) and (min-width: 800px){
    #container {
        grid-template-areas: "gr-header gr-header gr-header gr-header"
                             "gr-despre gr-despre gr-despre gr-despre"
                             "gr-livrare-returnare  gr-orar gr-orar gr-lorem1"
                             "gr-lorem2 gr-lorem2 gr-lorem2 gr-lorem2"
                             "gr-lorem3 gr-lorem3 gr-lorem4 gr-lorem5"
                             "gr-footer gr-footer gr-footer gr-footer";
    }
}

@media screen and (max-width: 800px) and (min-width: 500px){
    #container {
        grid-template-areas: "gr-header gr-header"
                             "gr-despre gr-despre"
                             "gr-livrare-returnare gr-orar"
                             "gr-lorem2 gr-lorem1"
                             "gr-lorem2 gr-lorem3"
                             "gr-lorem2 gr-lorem3"
                             "gr-lorem4 gr-lorem5"
                             "gr-footer gr-footer";
    }

    ul.main-menu li{
        text-align: center;
        width: 8em;
        height: 2.5em;
        line-height: 2.2em;
        
    }

    ul.main-menu li a, ul.main-menu li div {
        font-size: 1em;
        width: 8em;
        display: flex;
        justify-content: center;
    }

    #link-top {
        height: 30px;
        width: 30px;
        font-size: 20px;
    }
}

.hamburger {
    display: none;
    position: fixed;
    color: var(--nav-text-color);
    font-size: 2em;
    padding: 1em;
}

#activate-menu {
    display: none;
}

@media screen and (max-width: 500px){

    ul.main-menu{
        display: none;
    }

    .hamburger {
        display: block;
    }

    #container {
        display: block;
    }

    ul.main-menu>li:hover>ul{
        display: flex;
        flex-direction: column;
        position: relative;
        animation: pulse 400ms;
        left: 7.2em;
        top: -2.5em;
    }

    ul.main-menu li{
        width: 7.2em;
    }

    ul.main-menu li a, ul.main-menu li div {
        width: 7.2em;
    }
}

#activate-menu:checked ~ ul.main-menu{
    display: flex;
    flex-direction: column;
    position: relative;
    top: 2.5em;
    animation: pulse 400ms;
}